@use '../../index.scss' as *;
@use '../../App.scss' as *;


.navbar {
    
    background: var(--color-bg);

    color: white;
    @include layout;
    justify-content: space-between;
    padding: 10px 30px;

    .navbar__left {
        .logo {
            @include linkStyle;
            margin-right: 20px;
            color: white;

            font: {
                family: var(--logo-text);
                size: 40px;
            }

        }

        ul {
            list-style: none;

            li {
                display: inline-block;
                text-transform: uppercase;

                a {
                    @include linkStyle;
                    @include layout;
                    margin-left: 12px;
                    margin-right: 12px;
                    font-size: 24px;
                    font-weight: 500;
                    color: white;

                    &:focus,
                    &:active {
                        border-bottom: 2px solid #fff;
                    }

                    position: relative;

                    &:before {
                        content: "";
                        position: absolute;
                        bottom: -1px;
                        left: 0;
                        width: 0;
                        height: 2px;
                        background-color: white;
                        transition: width 0.4s ease-in-out;
                        -webkit-transition: width 0.4s ease-in-out;
                        -moz-transition: width 0.4s ease-in-out;
                        -ms-transition: width 0.4s ease-in-out;
                        -o-transition: width 0.4s ease-in-out;
                    }

                    &:hover {
                        &:before {
                            width: 100%;
                        }
                    }
                }
            }
        }

        @include layout;
    }

    .navbar__right {
        @include layout;
        gap: 15px;

        a {
            @include linkStyle;
            color: white;

        }
    }

    .separator {
        width: 1px;
        height: 43px;
        background: white;
    }
}